
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Casa Santa Lucia</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 " style="background-color: #333c87;">

        </nav>
    </header>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Sistema Catering: Administrador</h1>
                <p class="lead">Bienvenido al sistema de catering de casa santa Lucia, Usted se ha ingresado al sistema como Administrador</p>
            </div>
        </div>
    </div>




</body>
</html>
