
@{
    ViewData["Title"] = "Seccion de Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Sistema Catering:Cliente</h1>
            <p class="lead">Bienvenido al sistema de catering de casa santa Lucia, Usted se ha ingresado al sistema como cliente, 
                            Favor realizar pedido mediante las opciones en la parte superior izquierda del navegador</p>
        </div>
    </div>
</div>