@{
        ViewData["Title"]="Seccion de Administrador" ;
 
}

    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Sistema Catering: Administrador</h1>
                <p class="lead">Bienvenido al sistema de catering de casa santa Lucia, Usted se ha ingresado al sistema como Administrador</p>
            </div>
        </div>
    </div>
