@{
    ViewData["Title"] = "Politica de privacidad";
}
    <div class="text-center">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Politica de privacidad</h1>
                <p class="lead">
                    Este sistema de catering es exclusivo para el buffete comedor Casa Santa Lucia,
                    cualquier uso externo de otra entidad, empresa, persona natural o juridica de este sistema 
                    que no sea para realizacion del catering del buffete comedor Casa Santa Lucia, puede someterse a proceso judicial.
                </p>
            </div>
        </div>
    </div>